@font-face {
    font-family: 'Nexa-Bold';
    src: local('Nexa-Bold'), url(../assets/fonts/Nexa-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Nexa-Light';
    font-weight: 900;
    src: local('Nexa-Light'), url(../assets/fonts/Nexa-Light.otf) format('opentype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nexa-Light';
}

button {
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    /*background: #603bbb;*/
    cursor: pointer;
}

.login {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    background: white;
    display: flex;
}

.login .loginContainer {
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 520px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(
            ellipse at left bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 22, 101, 0) 59%,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 0%
    );
    box-shadow: 0 50px 70px -20px rgba(128, 128, 129, 10);
}

.login .loginContainer label {
    color: #3a2b58;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
}

.login .loginContainer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    background: rgba(231, 41, 85, 100) 100%;
    color: rgba(255, 255, 255, 100);
    letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
    width: 100%;
    padding: 24px 0;
}

.login .loginContainer .btnContainer p {
    margin: 14px 0 0 0;
    text-align: right;
    color: #fff;
}

.login .loginContainer .btnContainer p span {
    color: yellow;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
    color: #3a2b58;
}

.login .loginContainer .errorMsg {
    color: #42453C;
    font-size: 16px;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(
            ellipse at left bottom,
            rgba(231, 41, 85, 1) 0%,
            rgba(155, 22, 101, 0.9) 59%,
            rgba(239, 124, 75, 0.9) 100%
    );
}

.hero nav {
    background: #603bbb;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero nav h2 {
    color: #3a2b58;
}

.hero nav button {
    width: 86px;
    padding: 8px 0;
    background: #3a2b58;
}

.active {
    border: solid 3px #E62954;
    border-radius: 10px;
    background-color: #E62954;
}

/*.Nav {*/
/*    border-bottom-width: 1px;*/
/*    border-color: #E62954;*/
/*    background-color: #fff;*/
/*    width: 100%;*/
/*    position: fixed;*/
/*    height: 5rem;*/
/*    z-index: 1;*/
/*    bottom: auto;*/
/*}*/